body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    color: #b43a3a;
    flex-direction: column;
    width: 550px;
}

button {
    background-color: #b43a3a;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    margin-top: 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease
}

button:hover {
    background-color: #e1e1e1;
    color: #333;
    border: solid 2px;
    font-weight: bold;
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 3px solid #b43a3a;
}

.header form {
    display: flex;
    justify-content: center;
}

#back_button {
    background-color: #b43a3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    height: 40px;
    margin: auto;
    margin-left: 8px;
}

#back_button:hover {
    transform: scale(1.15);
}

.header p {
    text-align: right;
    margin-left: 40px;
    margin-top: 0px;
    overflow-wrap: break-word;
}

.header-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 8px;
}

h1 {
    text-align: right;
    overflow-wrap: break-word;
    margin-bottom: 7px;
    color: #b43a3a;
}

.header-card img {
    margin-left: 20px;
}

.container,
.complete-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 38px 40px 10px 40px;
    box-shadow: 2px 4px 10px #545454;
    width: 100%;
    max-width: 538px;
    text-align: center;
}

.complete-container h1 {
    text-align: center;
}

.complete-container p {
    text-align: left;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.main-content {
    margin: 18px 0px;
    margin-bottom: 0px;
}

.file-selection {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fed1d1;
    border-radius: 10px;
    margin-bottom: 15px;
}

.file-upload,
.folder-upload {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: 5px 14px;
    color: #b43a3a;
    font-size: 22px;
    font-weight: 600;
    width: 200px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.file-upload:hover,
.folder-upload:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.file-upload.show {
    background-color: #b43a3a;
    color: #f5f5f5;
    box-shadow: 2px 2px 4px #333;
}

.folder-upload.show {
    background-color: #b43a3a;
    color: #f5f5f5;
    box-shadow: 2px 2px 4px #333;
}

.mainform-foldercontainer {
    display: none;
}

.form-containerFolder,
.form-containerFile {
    padding: 20px;
    padding-bottom: 10px;
    background-color: #fed1d1;
    box-shadow: 1px 1px 5px #7a7a7a;
    text-align: center;
    border-radius: 10px;
}

.file-input {
    margin-bottom: 20px;
    justify-content: center;
}

label {
    color: #292929;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
}

input[type="file"] {
    display: none;
    margin: 5px;
    font-size: 14px;
}

.upload-file {
    display: flex;
    justify-content: center;
}

.file-label {
    display: inline-block;
    background-color: #b43a3a;
    color: white;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 160px;
    height: 100px;
    margin: 10px 20px 0px 20px;
    box-shadow: 2px 2px 4px #333;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.file-label p {
    margin-top: 8px;
}

.file-label:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 4px 8px #333;
}

.file-item {
    text-align: left;
    margin: 4px;
    color: #b43a3a;
}

.file-item button {
    padding: 5px;
    margin: 3px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #b43a3a;
    color: white;
    font-size: 14px;
}

.file-item button:hover {
    background-color: red;
    transform: scale(1.1);
}

#file-list,
#file-path {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #b43a3a;
}

.options {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-bottom: 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    padding: 20px;
    margin-right: 4px;
    width: 15px;
    height: 15px;
}

.checkbox-container label {
    color: #b43a3a;
}

.submit-container {
    margin: 15px 20px;
}

.submit-container p {
    text-align: left;
}

.submit-button {
    background-color: #b43a3a;
    color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 4px #333;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 25px;
}

.submit-button:hover {
    background-color: #ffdfdf;
    color: #b43a3a;
    border: solid 2px;
    font-weight: bold;
    transform: scale(1.05);
}

.spinner img {
    margin-top: 20px;
    width: 36px;
    height: 36px;
    animation: spin 1.5s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background-color: #b43a3a78;
}

#loading p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 0px;
}

.download-card {
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #e1e1e1;
    margin-bottom: 10px;
}

.download-card p {
    margin-bottom: 0px;
    text-align: center;
}

.merged-container {
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #545454;
    margin-top: 20px
}

.merged-container button {
    color: #545454;
    background-color: white;
    border: 1px solid #333;
}

.merged-container h3 {
    color: white;
}

.merged-container h3,
.merged-container form,
.download-card form {
    margin-bottom: 8px;
}