<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Extractor</title>
    <link rel="stylesheet" type="text/css" href="../static/pdf.css">
    <script src="../static/pdf.js"></script>
</head>


<body>
    <div class="container">
        <div class="header">
            <form action="/"><button id="back_button">Back</button></form>
            <div class="text-header">
                <div class="header-card">
                    <h1>PDF Extractor</h1>
                    <img src="../static/resources/main_pdf.png" width="75px">
                </div>
                <p>This is a basic API for extracting PDF content and downloading it as a CSV.</p>
            </div>
        </div>
        <div class="main-content">
            <div class="file-selection">
                <div class="file-upload" id="file-upload">Upload File</div>
                <div class="folder-upload" id="folder-upload">Upload Folder</div>
            </div>
            <div class="mainform-filecontainer">
                <form method="POST" action="/extract-pdf" enctype="multipart/form-data">
                    <div class="form-containerFile">
                        <div class="upload-file">
                            <div class="file-input">
                                <label class="file-label" for="pdfFile">
                                    <img src="../static/resources/pdf.png" width="40px">
                                    <p>Upload PDF File</p>
                                </label>
                                <input type="file" id="pdfFile" name="pdfFile" accept=".pdf">
                                <span id="file-path">No File chosen</span>
                            </div>
                        </div>

                        <div class="options">
                            <div class="checkbox-container">
                                <input type="checkbox" id="headerexists-file" name="headerexists-file" checked>
                                <label for="headerexists-file">Header exists</label>
                            </div>

                            <div class="checkbox-container">
                                <input type="checkbox" id="footerexists-file" name="footerexists-file" checked>
                                <label for="footerexists-file">Footer exists</label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-container">
                        <p style="margin-bottom: 0px;font-size: small;">*Please ensure the font style in pdf is
                            different between the header, footer and paragraph to get a better output.</p>
                        <button type="submit" class="submit-button" id="submit-Filebutton">Extract File</button>
                    </div>
                </form>
                <div id="loading-File" style="display: none;">
                    <div class="spinner"><img src="../static/resources/loading.png" width="30px">
                        <p>Processing your PDF file, please wait.........</p>
                    </div>
                </div>
            </div>

            <div class="mainform-foldercontainer">
                <form method="POST" action="/extract-pdf" enctype="multipart/form-data">
                    <div class="form-containerFolder">
                        <div class="upload-file">
                            <div class="file-input">
                                <label class="file-label" for="pdfFolder">
                                    <img src="../static/resources/pdf.png" width="40px">
                                    <p>Upload PDF Folder</p>
                                </label>
                                <input type="file" id="pdfFolder" name="pdfFolder" accept=".pdf" webkitdirectory='true'
                                    multiple>
                                <span id="file-list">No Folder chosen</span>
                            </div>
                        </div>

                        <div class="options">
                            <div class="checkbox-container">
                                <input type="checkbox" id="headerexists-folder" name="headerexists-folder" checked>
                                <label for="headerexists-folder">Header exists (apply to all)</label>
                            </div>

                            <div class="checkbox-container">
                                <input type="checkbox" id="footerexists-folder" name="footerexists-folder" checked>
                                <label for="footerexists-folder">Footer exists (apply to all)</label>
                            </div>
                        </div>
                    </div>

                    <div class="submit-container">
                        <p style="margin-bottom: 0px;font-size: small;">*Please ensure the font style in pdf is
                            different between the header, footer and paragraph to get a better output.</p>
                        <button type="submit" class="submit-button" id="submit-Folderbutton">Extract File</button>
                    </div>
                </form>
                <div id="loading-Folder" style="display: none;">
                    <div class="spinner"><img src="../static/resources/loading.png" width="30px">
                        <p>Processing your PDF files, please wait.........</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>